nuxleus/Source/Nuxleus.Extension.Aws/Web References/Fps/AmazonFPS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://fps.amazonaws.com/doc/2007-01-08/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:aws="http://www.amazonaws.com/schemas/core" xmlns:wsa="http://www.w3.org/2005/03/addressing" targetNamespace="http://fps.amazonaws.com/doc/2007-01-08/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://fps.amazonaws.com/doc/2007-01-08/">
      <xs:include schemaLocation="AmazonFPS.xsd" />
    </xs:schema>
  </types>
  <message name="GetTokenUsageRequestMsg">
    <part name="body" element="tns:GetTokenUsageRequest" />
  </message>
  <message name="GetTokenUsageResponseMsg">
    <part name="body" element="tns:GetTokenUsageResponse" />
  </message>
  <message name="GetPrepaidBalanceRequestMsg">
    <part name="body" element="tns:GetPrepaidBalanceRequest" />
  </message>
  <message name="GetPrepaidBalanceResponseMsg">
    <part name="body" element="tns:GetPrepaidBalanceResponse" />
  </message>
  <message name="GetDebtBalanceRequestMsg">
    <part name="body" element="tns:GetDebtBalanceRequest" />
  </message>
  <message name="GetDebtBalanceResponseMsg">
    <part name="body" element="tns:GetDebtBalanceResponse" />
  </message>
  <message name="GetTotalPrepaidLiabilityRequestMsg">
    <part name="body" element="tns:GetTotalPrepaidLiabilityRequest" />
  </message>
  <message name="GetTotalPrepaidLiabilityResponseMsg">
    <part name="body" element="tns:GetTotalPrepaidLiabilityResponse" />
  </message>
  <message name="GetOutstandingDebtBalanceRequestMsg">
    <part name="body" element="tns:GetOutstandingDebtBalanceRequest" />
  </message>
  <message name="GetOutstandingDebtBalanceResponseMsg">
    <part name="body" element="tns:GetOutstandingDebtBalanceResponse" />
  </message>
  <message name="SettleDebtRequestMsg">
    <part name="body" element="tns:SettleDebtRequest" />
  </message>
  <message name="SettleDebtResponseMsg">
    <part name="body" element="tns:SettleDebtResponse" />
  </message>
  <message name="WriteOffDebtRequestMsg">
    <part name="body" element="tns:WriteOffDebtRequest" />
  </message>
  <message name="WriteOffDebtResponseMsg">
    <part name="body" element="tns:WriteOffDebtResponse" />
  </message>
  <message name="FundPrepaidRequestMsg">
    <part name="body" element="tns:FundPrepaidRequest" />
  </message>
  <message name="FundPrepaidResponseMsg">
    <part name="body" element="tns:FundPrepaidResponse" />
  </message>
  <message name="SubscribeForCallerNotificationRequestMsg">
    <part name="body" element="tns:SubscribeForCallerNotificationRequest" />
  </message>
  <message name="SubscribeForCallerNotificationResponseMsg">
    <part name="body" element="tns:SubscribeForCallerNotificationResponse" />
  </message>
  <message name="UnSubscribeForCallerNotificationRequestMsg">
    <part name="body" element="tns:UnSubscribeForCallerNotificationRequest" />
  </message>
  <message name="UnSubscribeForCallerNotificationResponseMsg">
    <part name="body" element="tns:UnSubscribeForCallerNotificationResponse" />
  </message>
  <message name="GetAllCreditInstrumentsRequestMsg">
    <part name="body" element="tns:GetAllCreditInstrumentsRequest" />
  </message>
  <message name="GetAllCreditInstrumentsResponseMsg">
    <part name="body" element="tns:GetAllCreditInstrumentsResponse" />
  </message>
  <message name="GetAllPrepaidInstrumentsRequestMsg">
    <part name="body" element="tns:GetAllPrepaidInstrumentsRequest" />
  </message>
  <message name="GetAllPrepaidInstrumentsResponseMsg">
    <part name="body" element="tns:GetAllPrepaidInstrumentsResponse" />
  </message>
  <message name="GetAccountBalanceRequestMsg">
    <part name="body" element="tns:GetAccountBalanceRequest" />
  </message>
  <message name="GetAccountBalanceResponseMsg">
    <part name="body" element="tns:GetAccountBalanceResponse" />
  </message>
  <message name="GetAccountActivityRequestMsg">
    <part name="body" element="tns:GetAccountActivityRequest" />
  </message>
  <message name="GetAccountActivityResponseMsg">
    <part name="body" element="tns:GetAccountActivityResponse" />
  </message>
  <message name="GetTokensRequestMsg">
    <part name="body" element="tns:GetTokensRequest" />
  </message>
  <message name="GetTokensResponseMsg">
    <part name="body" element="tns:GetTokensResponse" />
  </message>
  <message name="GetPaymentInstructionRequestMsg">
    <part name="body" element="tns:GetPaymentInstructionRequest" />
  </message>
  <message name="GetPaymentInstructionResponseMsg">
    <part name="body" element="tns:GetPaymentInstructionResponse" />
  </message>
  <message name="CancelTokenRequestMsg">
    <part name="body" element="tns:CancelTokenRequest" />
  </message>
  <message name="CancelTokenResponseMsg">
    <part name="body" element="tns:CancelTokenResponse" />
  </message>
  <message name="PayBatchRequestMsg">
    <part name="body" element="tns:PayBatchRequest" />
  </message>
  <message name="PayBatchResponseMsg">
    <part name="body" element="tns:PayBatchResponse" />
  </message>
  <message name="PayRequestMsg">
    <part name="body" element="tns:PayRequest" />
  </message>
  <message name="PayResponseMsg">
    <part name="body" element="tns:PayResponse" />
  </message>
  <message name="ReserveRequestMsg">
    <part name="body" element="tns:ReserveRequest" />
  </message>
  <message name="ReserveResponseMsg">
    <part name="body" element="tns:ReserveResponse" />
  </message>
  <message name="SettleRequestMsg">
    <part name="body" element="tns:SettleRequest" />
  </message>
  <message name="SettleResponseMsg">
    <part name="body" element="tns:SettleResponse" />
  </message>
  <message name="RefundRequestMsg">
    <part name="body" element="tns:RefundRequest" />
  </message>
  <message name="RefundResponseMsg">
    <part name="body" element="tns:RefundResponse" />
  </message>
  <message name="GetResultsRequestMsg">
    <part name="body" element="tns:GetResultsRequest" />
  </message>
  <message name="GetResultsResponseMsg">
    <part name="body" element="tns:GetResultsResponse" />
  </message>
  <message name="DiscardResultsRequestMsg">
    <part name="body" element="tns:DiscardResultsRequest" />
  </message>
  <message name="DiscardResultsResponseMsg">
    <part name="body" element="tns:DiscardResultsResponse" />
  </message>
  <message name="GetTransactionRequestMsg">
    <part name="body" element="tns:GetTransactionRequest" />
  </message>
  <message name="GetTransactionResponseMsg">
    <part name="body" element="tns:GetTransactionResponse" />
  </message>
  <message name="InstallPaymentInstructionBatchRequestMsg">
    <part name="body" element="tns:InstallPaymentInstructionBatchRequest" />
  </message>
  <message name="InstallPaymentInstructionBatchResponseMsg">
    <part name="body" element="tns:InstallPaymentInstructionBatchResponse" />
  </message>
  <message name="InstallPaymentInstructionRequestMsg">
    <part name="body" element="tns:InstallPaymentInstructionRequest" />
  </message>
  <message name="InstallPaymentInstructionResponseMsg">
    <part name="body" element="tns:InstallPaymentInstructionResponse" />
  </message>
  <message name="RetryTransactionRequestMsg">
    <part name="body" element="tns:RetryTransactionRequest" />
  </message>
  <message name="RetryTransactionResponseMsg">
    <part name="body" element="tns:RetryTransactionResponse" />
  </message>
  <message name="GetTokenByCallerRequestMsg">
    <part name="body" element="tns:GetTokenByCallerRequest" />
  </message>
  <message name="GetTokenByCallerResponseMsg">
    <part name="body" element="tns:GetTokenByCallerResponse" />
  </message>
  <portType name="AmazonFPSPortType">
    <operation name="InstallPaymentInstructionBatch">
      <input wsa:Action="urn:InstallPaymentInstructionBatch" message="tns:InstallPaymentInstructionBatchRequestMsg" />
      <output wsa:Action="urn:InstallPaymentInstructionBatch:Response" message="tns:InstallPaymentInstructionBatchResponseMsg" />
    </operation>
    <operation name="InstallPaymentInstruction">
      <input wsa:Action="urn:InstallPaymentInstruction" message="tns:InstallPaymentInstructionRequestMsg" />
      <output wsa:Action="urn:InstallPaymentInstruction:Response" message="tns:InstallPaymentInstructionResponseMsg" />
    </operation>
    <operation name="GetTokenUsage">
      <input wsa:Action="urn:GetTokenUsage" message="tns:GetTokenUsageRequestMsg" />
      <output wsa:Action="urn:GetTokenUsage:Response" message="tns:GetTokenUsageResponseMsg" />
    </operation>
    <operation name="GetPrepaidBalance">
      <input wsa:Action="urn:GetPrepaidBalance" message="tns:GetPrepaidBalanceRequestMsg" />
      <output wsa:Action="urn:GetPrepaidBalance:Response" message="tns:GetPrepaidBalanceResponseMsg" />
    </operation>
    <operation name="GetDebtBalance">
      <input wsa:Action="urn:GetDebtBalance" message="tns:GetDebtBalanceRequestMsg" />
      <output wsa:Action="urn:GetDebtBalance:Response" message="tns:GetDebtBalanceResponseMsg" />
    </operation>
    <operation name="GetTotalPrepaidLiability">
      <input wsa:Action="urn:GetTotalPrepaidLiability" message="tns:GetTotalPrepaidLiabilityRequestMsg" />
      <output wsa:Action="urn:GetTotalPrepaidLiability:Response" message="tns:GetTotalPrepaidLiabilityResponseMsg" />
    </operation>
    <operation name="GetOutstandingDebtBalance">
      <input wsa:Action="urn:GetOutstandingDebtBalance" message="tns:GetOutstandingDebtBalanceRequestMsg" />
      <output wsa:Action="urn:GetOutstandingDebtBalance:Response" message="tns:GetOutstandingDebtBalanceResponseMsg" />
    </operation>
    <operation name="SettleDebt">
      <input wsa:Action="urn:SettleDebt" message="tns:SettleDebtRequestMsg" />
      <output wsa:Action="urn:SettleDebt:Response" message="tns:SettleDebtResponseMsg" />
    </operation>
    <operation name="WriteOffDebt">
      <input wsa:Action="urn:WriteOffDebt" message="tns:WriteOffDebtRequestMsg" />
      <output wsa:Action="urn:WriteOffDebt:Response" message="tns:WriteOffDebtResponseMsg" />
    </operation>
    <operation name="FundPrepaid">
      <input wsa:Action="urn:FundPrepaid" message="tns:FundPrepaidRequestMsg" />
      <output wsa:Action="urn:FundPrepaid:Response" message="tns:FundPrepaidResponseMsg" />
    </operation>
    <operation name="SubscribeForCallerNotification">
      <input wsa:Action="urn:SubscribeForCallerNotification" message="tns:SubscribeForCallerNotificationRequestMsg" />
      <output wsa:Action="urn:SubscribeForCallerNotification:Response" message="tns:SubscribeForCallerNotificationResponseMsg" />
    </operation>
    <operation name="UnSubscribeForCallerNotification">
      <input wsa:Action="urn:UnSubscribeForCallerNotification" message="tns:UnSubscribeForCallerNotificationRequestMsg" />
      <output wsa:Action="urn:UnSubscribeForCallerNotification:Response" message="tns:UnSubscribeForCallerNotificationResponseMsg" />
    </operation>
    <operation name="GetAllCreditInstruments">
      <input wsa:Action="urn:GetAllCreditInstruments" message="tns:GetAllCreditInstrumentsRequestMsg" />
      <output wsa:Action="urn:GetAllCreditInstruments:Response" message="tns:GetAllCreditInstrumentsResponseMsg" />
    </operation>
    <operation name="GetAllPrepaidInstruments">
      <input wsa:Action="urn:GetAllPrepaidInstruments" message="tns:GetAllPrepaidInstrumentsRequestMsg" />
      <output wsa:Action="urn:GetAllPrepaidInstruments:Response" message="tns:GetAllPrepaidInstrumentsResponseMsg" />
    </operation>
    <operation name="GetAccountBalance">
      <input wsa:Action="urn:GetAccountBalance" message="tns:GetAccountBalanceRequestMsg" />
      <output wsa:Action="urn:GetAccountBalance:Response" message="tns:GetAccountBalanceResponseMsg" />
    </operation>
    <operation name="GetAccountActivity">
      <input wsa:Action="urn:GetAccountActivity" message="tns:GetAccountActivityRequestMsg" />
      <output wsa:Action="urn:GetAccountActivity:Response" message="tns:GetAccountActivityResponseMsg" />
    </operation>
    <operation name="GetTokens">
      <input wsa:Action="urn:GetTokens" message="tns:GetTokensRequestMsg" />
      <output wsa:Action="urn:GetTokens:Response" message="tns:GetTokensResponseMsg" />
    </operation>
    <operation name="GetPaymentInstruction">
      <input wsa:Action="urn:GetPaymentInstruction" message="tns:GetPaymentInstructionRequestMsg" />
      <output wsa:Action="urn:GetPaymentInstruction:Response" message="tns:GetPaymentInstructionResponseMsg" />
    </operation>
    <operation name="CancelToken">
      <input wsa:Action="urn:CancelToken" message="tns:CancelTokenRequestMsg" />
      <output wsa:Action="urn:CancelToken:Response" message="tns:CancelTokenResponseMsg" />
    </operation>
    <operation name="PayBatch">
      <input wsa:Action="urn:PayBatch" message="tns:PayBatchRequestMsg" />
      <output wsa:Action="urn:PayBatch:Response" message="tns:PayBatchResponseMsg" />
    </operation>
    <operation name="Pay">
      <input wsa:Action="urn:Pay" message="tns:PayRequestMsg" />
      <output wsa:Action="urn:Pay:Response" message="tns:PayResponseMsg" />
    </operation>
    <operation name="Reserve">
      <input wsa:Action="urn:Reserve" message="tns:ReserveRequestMsg" />
      <output wsa:Action="urn:Reserve:Response" message="tns:ReserveResponseMsg" />
    </operation>
    <operation name="Settle">
      <input wsa:Action="urn:Settle" message="tns:SettleRequestMsg" />
      <output wsa:Action="urn:Settle:Response" message="tns:SettleResponseMsg" />
    </operation>
    <operation name="Refund">
      <input wsa:Action="urn:Refund" message="tns:RefundRequestMsg" />
      <output wsa:Action="urn:Refund:Response" message="tns:RefundResponseMsg" />
    </operation>
    <operation name="GetResults">
      <input wsa:Action="urn:GetResults" message="tns:GetResultsRequestMsg" />
      <output wsa:Action="urn:GetResults:Response" message="tns:GetResultsResponseMsg" />
    </operation>
    <operation name="DiscardResults">
      <input wsa:Action="urn:DiscardResults" message="tns:DiscardResultsRequestMsg" />
      <output wsa:Action="urn:DiscardResults:Response" message="tns:DiscardResultsResponseMsg" />
    </operation>
    <operation name="GetTransaction">
      <input wsa:Action="urn:GetTransaction" message="tns:GetTransactionRequestMsg" />
      <output wsa:Action="urn:GetTransaction:Response" message="tns:GetTransactionResponseMsg" />
    </operation>
    <operation name="RetryTransaction">
      <input wsa:Action="urn:RetryTransaction" message="tns:RetryTransactionRequestMsg" />
      <output wsa:Action="urn:RetryTransactionResponse" message="tns:RetryTransactionResponseMsg" />
    </operation>
    <operation name="GetTokenByCaller">
      <input wsa:Action="urn:GetTokenByCaller" message="tns:GetTokenByCallerRequestMsg" />
      <output wsa:Action="urn:GetTokenByCaller:Response" message="tns:GetTokenByCallerResponseMsg" />
    </operation>
  </portType>
  <binding name="AmazonFPSBinding" type="tns:AmazonFPSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="InstallPaymentInstructionBatch">
      <soap:operation soapAction="urn:InstallPaymentInstructionBatch" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InstallPaymentInstruction">
      <soap:operation soapAction="urn:InstallPaymentInstruction" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTokenUsage">
      <soap:operation soapAction="urn:GetTokenUsage" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPrepaidBalance">
      <soap:operation soapAction="urn:GetPrepaidBalance" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDebtBalance">
      <soap:operation soapAction="urn:GetDebtBalance" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTotalPrepaidLiability">
      <soap:operation soapAction="urn:GetTotalPrepaidLiability" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetOutstandingDebtBalance">
      <soap:operation soapAction="urn:GetOutstandingDebtBalance" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SettleDebt">
      <soap:operation soapAction="urn:SettleDebt" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="WriteOffDebt">
      <soap:operation soapAction="urn:WriteOffDebt" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FundPrepaid">
      <soap:operation soapAction="urn:FundPrepaid" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SubscribeForCallerNotification">
      <soap:operation soapAction="urn:SubscribeForCallerNotification" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UnSubscribeForCallerNotification">
      <soap:operation soapAction="urn:UnSubscribeForCallerNotification" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAllCreditInstruments">
      <soap:operation soapAction="urn:GetAllCreditInstruments" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAllPrepaidInstruments">
      <soap:operation soapAction="urn:GetAllPrepaidInstruments" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAccountBalance">
      <soap:operation soapAction="urn:GetAccountBalance" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAccountActivity">
      <soap:operation soapAction="urn:GetAccountActivity" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTokens">
      <soap:operation soapAction="urn:GetTokens" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPaymentInstruction">
      <soap:operation soapAction="urn:GetPaymentInstruction" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CancelToken">
      <soap:operation soapAction="urn:CancelToken" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PayBatch">
      <soap:operation soapAction="urn:PayBatch" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Pay">
      <soap:operation soapAction="urn:Pay" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Reserve">
      <soap:operation soapAction="urn:Reserve" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Settle">
      <soap:operation soapAction="urn:Settle" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Refund">
      <soap:operation soapAction="urn:Refund" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetResults">
      <soap:operation soapAction="urn:GetResults" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DiscardResults">
      <soap:operation soapAction="urn:DiscardResults" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTransaction">
      <soap:operation soapAction="urn:GetTransaction" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetryTransaction">
      <soap:operation soapAction="urn:RetryTransaction" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTokenByCaller">
      <soap:operation soapAction="urn:GetTokenByCaller" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AmazonFPS">
    <port name="AmazonFPSPort" binding="tns:AmazonFPSBinding">
      <soap:address location="https://fps.amazonaws.com" />
    </port>
  </service>
</definitions>